<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset-password</title>
    <link rel="stylesheet" href="/css/input.css">
</head>

<body>
    <div class="loginContainer">
        <div class="loginTitle">
            <h1>Login Container</h1>
        </div>
        <div class="inputContainer">
            <form id="myForm">
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" name="password" id="userPassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="userCPassword">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="userCPassword" placeholder="Confirm Password">
                </div>
                <div class="form-btn">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    const form = document.getElementById("myForm");
    form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const password = document.getElementById("userPassword").value;
        const confirmPassword = document.getElementById("userCPassword").value;
        const parts = window.location.pathname.split("/");
        const email = parts[2];
        const token = parts[3];
        if (password !== confirmPassword) {
            alert("Password and confirm password are different")
        }
        const res = await fetch("/api/auth/reset-password", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                email,
                password,
                confirmPassword,
                token
            })
        })
        const data = await res.json();
        if(data.message==="Password Changed Successfully"){
            window.location.href="/login"
        }else{
            alert(data.message);
        }
    })
</script>

</html>